<div class = "saved-reports-block">
  <h5>Continue working on or view the reports below</h5>
  <div class = "table-block">
    <table id = "reports-index-table" class = "table table-striped">
      <thead class = "thead">
        <tr>
          <th>Report Name</th>
          <th>Report Type</th>
          <th>Report Owner</th>
          <th>Report Created</th>
          <th>Edit</th>
          {{#eq admin true}}
            <th>Delete</th>
          {{/eq}}
        </tr>          
      </thead>
      <tbody>
        {{#each reports}}
        <tr>
            <td>{{this.reportName}}</td>
            <td>{{this.reportType}}</td>
            <td>{{this.ownerFirst}}</td>
            <td>{{this.dateCreated}}</td>
            <td>
                <a href = "/reports/viewreport/{{this.id}}" class = "btn btn-primary edit-report-button">Edit Report</a>
            </td>
            {{#eq ../admin true}}
              <td>
                  <a href = "/reports/deletereport/{{this.id}}" class = "btn btn-danger delete-report-button">Delete Report</a>
              </td>
            {{/eq}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>