<h2>Welcome to the verification page for helping losers like you report better</h2>

{{#if pendingUsers}}
  <form class = "user-permissions-approval" method = "post" action = "/users/verification">
  {{#each pendingUsers}}
      <div class = "user-permissions-approval">
        <p class = "user-verification-name">{{first}} {{last}}</p>
        {{#if access}}
          <input type = "checkbox" class = "access-checkbox" name = "access-approval-{{id}}" checked> Allowed access to reports</br>
        {{else}}
          <input type = "checkbox" class = "access-checkbox" name = "access-approval-{{id}}"> Allowed access to reports</br>
        {{/if}}

        {{#if admin}}
          <input type = "checkbox" class = "allow-admin" name = "admin-approval-{{id}}" checked> Give admin privilages</br>
        {{else}}
          <input type = "checkbox" class = "allow-admin" name = "admin-approval-{{id}}"> Give admin privilages</br>
        {{/if}}
      </div>
  {{/each}}
    <button type = "submit" class = "btn btn-default">Save Permissions</button>
  </form>
{{else}}
  <h2>Nothing to see here!</h2>
{{/if}}