<h2>Verify Users and Permissions</h2>

{{#if users}}
  <form id = "user-permissions-approval" method = "post" action = "/users/verify">
  {{#each users}}
      <div class = "user-permissions">
        <p class = "user-verification-name">{{first}} {{last}}</p>
        {{#if access}}
          <input type = "checkbox" class = "access permissions-checkbox checked" name = "access-{{id}}" checked> Allowed access to reports</br>
        {{else}}
          <input type = "checkbox" class = "access permissions-checkbox" name = "access-{{id}}"> Allowed access to reports</br>
        {{/if}}

        {{#if admin}}
          <input type = "checkbox" class = "admin permissions-checkbox checked" name = "admin-{{id}}" checked> Give admin privilages</br>
        {{else}}
          <input type = "checkbox" class = "admin permissions-checkbox" name = "admin-{{id}}"> Give admin privilages</br>
        {{/if}}
      </div>
  {{/each}}
    <button id = "permissions-submit" type = "submit" class = "btn btn-default">Save Permissions</button>
  </form>
{{else}}
  <h2>Nothing to see here!</h2>
{{/if}}

<script type ="text/javascript">
  var form = $("#user-permissions-approval");
  form.submit(function(e) {
    e.preventDefault();
    var data = {};
    var usersList = form.find('.user-permissions');
    for (var i = 0; i < usersList.length; i ++){
      var curUser = $(usersList[i])
      var access = curUser.find('.access');
      var admin = curUser.find('.admin');
      if (access.hasClass('checked') && (access.prop('checked') == false)){
        data[access.attr('name')] = 'off';
      } else if (!access.hasClass('checked') && (access.prop('checked') == true)){
        data[access.attr('name')] = 'on';
      }
      if (admin.hasClass('checked') && (admin.prop('checked') == false)){
        data[admin.attr('name')] = 'off';
      } else if (!admin.hasClass('checked') && (admin.prop('checked') == true)){
        data[admin.attr('name')] = 'on';
      }
    }
    $.ajax({
        url : "/users/verify",
        type: "POST",
        data: data,
        dataType: "json"
    });

  });
</script>